name: Automatic release CI

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build_and_push:
    name: Automatic release
    runs-on: ubuntu-latest
    steps:
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
